{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/APropos.css') }}">
{% endblock %}
{% block body %}

    <section>
        <div id="Service_Banner">
        </div>
        <h2>Historique</h2>
        <p>Com4Up fût lancé en 2017 par 4 collaborateurs qui travaillent ensemble depuis 2015 sur la création du site web "Faerith's" ainsi que l'application "Liwo".
            Notre but avec "Prisma" est d'accompagner les entreprises au Numérique en leur proposant la création d'un site web, de vidéo de présentation, accompagnement sur les réseaux sociaux, ...</p>
        <h2>Notre vision</h2>
        <p>L'identité d'une entreprise n'est pas due à un seul facteur, c'est un ensemble d'éléments qui mis bout à bout renforçeront votre crédibilité. Cela passe par un site Web moderne, s'adaptant à tout support, élégant, facile d'accès et apportant toute les informations nécessaires aux visiteurs. A cela s'ajoute un ensemble de réseaux sociaux, lieu où vous avez l'opportunité de faire grandir une communauté fidèle à votre marque. Notre partie Audiovisuel vous apportera une forte plus value en présentant concrétement votre travail en vidéo pour ainsi consolider votre proximité avec vos clients.</p>
        <h2>Certification</h2>
    </section>
{% endblock %}
