{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Graphic_Detail.css') }}">
{% endblock %}
{% block body %}
    <section>
        <div id="Service_Banner">
            <img src="http://www.placehold.it/1280x200" alt="Banniere service"/>
        </div>
    </section>
{% endblock %}