{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Index.css') }}">
{% endblock %}
{% block body %}
    <section>
        <div id="Bloc_Service">
            <div id="Bloc_Service_Content">
                <div class="Bloc_Service_case">
                    <h2>Site Web</h2>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Service_Plus"><a href="#">En savoir plus.</a></div>
                </div>
                <div class="Bloc_Service_case">
                    <h2>Audiovisuel</h2>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Service_Plus"><a href="#">En savoir plus.</a></div>
                </div>
                <div class="Bloc_Service_case">
                    <h2>Réseaux Sociaux</h2>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Service_Plus"><a href="#">En savoir plus.</a></div>
                </div>
                <div class="Bloc_Service_case">
                    <h2>Charte Graphique</h2>
                    <hr/>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Service_Plus"><a href="#">En savoir plus.</a></div>
                </div>
            </div>
        </div>


        <div id="Bloc_Equipe">
            <h2>Qui sommes nous?</h2>
            <div id="Bloc_Equipe_Content">
                <div class="Bloc_Equipe_Case">
                    <img src="http://www.placehold.it/200x200" alt="Photo de Thomas Kleine">
                    <h3>Thomas Kleine</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Equipe_Social">
                        <img src="http://www.placehold.it/50x50" alt="Icone Facebook">
                        <img src="http://www.placehold.it/50x50" alt="Icone Twitter">
                        <img src="http://www.placehold.it/50x50" alt="Icone Linkedin">
                    </div>
                </div>
                <div class="Bloc_Equipe_Case">
                    <img src="http://www.placehold.it/200x200"  alt="Photo de Sebastien Oulerich">
                    <h3>Sébastien Oulerich</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Equipe_Social">
                        <img src="http://www.placehold.it/50x50" alt="Icone Facebook">
                        <img src="http://www.placehold.it/50x50" alt="Icone Twitter">
                        <img src="http://www.placehold.it/50x50" alt="Icone Linkedin">
                    </div>
                </div>
                <div class="Bloc_Equipe_Case">
                    <img src="http://www.placehold.it/200x200"  alt="Photo de Loic Oulerich">
                    <h3>Loic Oulerich</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Equipe_Social">
                        <img src="http://www.placehold.it/50x50" alt="Icone Facebook">
                        <img src="http://www.placehold.it/50x50" alt="Icone Twitter">
                        <img src="http://www.placehold.it/50x50" alt="Icone Linkedin">
                    </div>
                </div>
                <div class="Bloc_Equipe_Case">
                    <img src="http://www.placehold.it/200x200"  alt="Photo de Julien Goby">
                    <h3>Julien Goby</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="Equipe_Social">
                        <img src="http://www.placehold.it/50x50" alt="Icone Facebook">
                        <img src="http://www.placehold.it/50x50" alt="Icone Twitter">
                        <img src="http://www.placehold.it/50x50" alt="Icone Linkedin">
                    </div>
                </div>
            </div>
        </div>

        <div id="Bloc_Confiance">
            <h2>Ils nous font confiance !</h2>
            <div id="Bloc_Confiance_Slider">
                <img src="http://www.placehold.it/50x50" alt="Fleche gauche">
                <div id="Bloc_Confiance_data">
                    <img src="http://www.placehold.it/100x100" alt="#">
                    <img src="http://www.placehold.it/100x100" alt="#">
                    <img src="http://www.placehold.it/100x100" alt="#">
                    <img src="http://www.placehold.it/100x100" alt="#">
                    <img src="http://www.placehold.it/100x100" alt="#">
                </div>
                <img src="http://www.placehold.it/50x50" alt="Fleche droite">
            </div>
        </div>

        <div id="Bloc_Temoin">
            <h2>Témoignages</h2>
            <div id="Bloc_Temoin_Content">
                <div class="Bloc_Temoin_Case">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <hr/>
                    <div class="Bloc_Temoin_ID">
                        <img src="http://www.placehold.it/10x10" alt="#">
                        <div class="Bloc_Temoin_ID_Name">
                            <h3>Prenom Nom</h3>
                            <p>Fonction</p>
                        </div>
                    </div>
                </div>
                <div class="Bloc_Temoin_Case">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <hr/>
                    <div class="Bloc_Temoin_ID">
                        <img src="http://www.placehold.it/10x10" alt="#">
                        <div class="Bloc_Temoin_ID_Name">
                            <h3>Prenom Nom</h3>
                            <p>Fonction</p>
                        </div>
                    </div>
                </div>
                <div class="Bloc_Temoin_Case">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <hr/>
                    <div class="Bloc_Temoin_ID">
                        <img src="http://www.placehold.it/10x10" alt="#">
                        <div class="Bloc_Temoin_ID_Name">
                            <h3>Prenom Nom</h3>
                            <p>Fonction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}