{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Projets.css') }}">
{% endblock %}
{% block body %}
    <section>
        <div id="Service_Banner">
        </div>
        <div id="Bloc_Travaux">
        <div id="Bloc_Travaux_Content">
            <div id="Travaux_Header">
                <h2>Travaux Récents</h2>
                <ul>
                    <li><button class="search" value="Tous">Tous</button></li>
                    /
                    <li><button class="search" value="Site Web">Site Web</button></li>
                    /
                    <li><button class="search" value="Maquette">Maquette</button></li>
                    /
                    <li><button class="search" value="Audiovisuel">Audiovisuel</button></li>
                    /
                    <li><button class="search" value="Réseaux Sociaux">Réseaux Sociaux</button></li>
                </ul>
            </div>
            <div id="Travaux_Slider">
                {% for projet in projets | slice(0,10)%}
                    <a href="{{ path('projet_detail', { 'id': projet.id }) }}">
                        <img src="{{ asset(projet.picture.path) }}" alt="Image du slider"/>
                    </a>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>
    {% block javascripts %}
        <script type="text/javascript">
            $(function(){
                $('.search').on('click', function()
                {
                    var comment = $(this).val();
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ path('searchProjets') }}",
                        cache: false,
                        data: { text: comment},
                        success:function(response){
                            $('#Travaux_Slider').replaceWith(response.classifiedList);
                        },
                        error:function(response){
                            console.log(response);
                        }
                    });
                });
            });

        </script>
    {% endblock %}
{% endblock %}
