{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Projets.css') }}">
{% endblock %}
{% block body %}
    <section>
        <div id="Service_Banner">
            <img src="http://www.placehold.it/1280x200" alt="Banniere service"/>
        </div>
        <div id="Bloc_Travaux">
            <div id="Bloc_Travaux_Content">
                <div id="Travaux_Header">
                    <h2>Travaux Récents</h2>
                    <ul>
                        <li>Tous</li>
                        /
                        <li>Site Web</li>
                        /
                        <li>Maquette</li>
                        /
                        <li>Audiovisuel</li>
                        /
                        <li>Réseaux Sociaux</li>
                    </ul>
                </div>
                <div id="Travaux_Slider">
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                    <img src="http://www.placehold.it/250x150" alt="Image du slider"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}