/* CSS de la page Contact */

/* Header banner */
#Service_Banner {
  height: 15em;
  width: 100%;
}

#Service_Banner img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Corp page */
#Contact_Form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#Contact_Form_ID {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Inline {
  width: 50%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Inline input {
  width: 50%;
  margin-right: 2%;
}

#Contact_Form hr {
  margin-top: 2%;
  width: 80%;
  border-bottom: solid black 1px;
}

#Categorie {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  flex-wrap: wrap;
}
#Categorie_Label {
  width: 100%;

}
#Objet_Label, #Msg_Label {
  margin-top: 2%;
}

#Msg {
  margin-top: 2%;
  height: 10em;
}

#Envoi {
  width: 20%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1024px)
{
  #Contact_Form {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .Inline {
    width: 100%;
  }
}
