/* CSS de la page principale */

/* Bloc Service */
#Bloc_Service {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: solid black 1px;
}

#Bloc_Service_Content {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Bloc_Service_Content img {
  display: none;
}

.Bloc_Service_case {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16%;
  height: 18em;
}

#Bloc_Web {
  background-color: rgba(255, 0, 0, 0.2);
}

#Bloc_Audiovisuel {
  background-color: rgba(0, 255, 0, 0.2);
}

#Bloc_Social {
  background-color: rgba(0, 0, 255, 0.2);
}

 #Bloc_Graphique {
  background-color: rgba(237, 127, 16, 0.2);
}

#Bloc_Materiel {
  background-color: rgba(112, 41, 99, 0.2);
}

.Bloc_Service_case h2 {
  text-align: center;
}

.Bloc_Service_case hr {
  width: 80%;
  border: solid black 1px;
}

.Bloc_Service_case p {
  width: 90%;
  text-align: justify;
  margin: auto;
}

.Service_Plus {
  width: 100%;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  border-top: solid black 1px;
  background-color: grey;
}

/* Bloc Travaux Recent */
#Bloc_Travaux {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: solid black 1px;
}

#Bloc_Travaux_Content {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#Travaux_Header h2 {
  width: 100%;
  text-align: center;
}

#Travaux_Header ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#Travaux_Slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#Travaux_Slider a {
  height: auto;
  width: 25%;
  margin: 0;
  padding: 0;
}

#Travaux_Slider a img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#Travaux_Slider img:hover {
  opacity: 0.5;
}

/* Bloc Equipe */
#Bloc_Equipe {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: solid black 1px;
}

#Bloc_Equipe h2 {
  width: 100%;
  text-align: center;
}

#Bloc_Equipe_Content {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Bloc_Equipe_Case {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.Bloc_Equipe_Case img {
  width: 70%;
  height: auto;
  border-radius: 100%;
}

.Bloc_Equipe_Case h3 {
  text-align: center;
  margin-bottom: 0;
}

.Bloc_Equipe_Case h4 {
  text-align: center;
  margin-top: 0;
}

.Bloc_Equipe_Case p {
  width: 90%;
  text-align: center;
  margin: auto;
}

.Equipe_Social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Equipe_Social img {
width: auto;
height: auto;
border-radius: 10%;
}

/* Bloc Confiance */
#Bloc_Confiance {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: solid black 1px;
}

#Bloc_Confiance h2 {
  width: 100%;
  text-align: center;
}

#Bloc_Confiance_Slider {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#Bloc_Confiance_data {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Bloc Temoignage */
#Bloc_Temoin {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: solid black 1px;
}

#Bloc_Temoin h2 {
  width: 100%;
  text-align: center;
}

#Bloc_Temoin_Content {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Bloc_Temoin_Case {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.Bloc_Temoin_Case hr {
  width: 80%;
  border-bottom: solid black 1px;
}

.Bloc_Temoin_Case p {
  width: 90%;
  text-align: center;
  margin: auto;
}

.Bloc_Temoin_ID {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.Bloc_Temoin_ID img {
 width: 3em;
 height: 3em;
 border-radius: 100%;
}

.Bloc_Temoin_ID_Name {
  width: 70%;
}

.Bloc_Temoin_ID_Name p, .Bloc_Temoin_ID_Name h3{
  margin: 0;
  padding: 0;
  text-align: left;
}

.Mobile_Display {
  display: none;
}
/* Pour les écrans inférieurs à 1024px de large */
@media screen and (max-width: 1024px)
{
  #Bloc_Service_Content {
    width: 100%;
  }

  #Bloc_Service_Content img {
    display: flex;
  }

#Bloc_Audiovisuel, #Bloc_Social, #Bloc_Graphique {
  display: none;
}
  .Bloc_Service_case {
    width: 75%;
  }

  .Bloc_Service_case h2 {
    text-align: center;
  }

  .Bloc_Service_case hr {
    width: 100%;
  }

  /* Bloc Travaux Recent */

  #Bloc_Travaux_Content {
    width: 100%;
  }

  #Travaux_Header ul {
    width: 100%;
    padding: 0;
  }

  #Travaux_Slider img {
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  /* Bloc Equipe */

  #Bloc_Equipe_Content {
    width: 100%;
  }

  .Bloc_Equipe_Case {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    width: 49.6%;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .Bloc_Equipe_Case p {
    display: none;
  }

  /* Bloc Confiance */

  #Bloc_Confiance_Slider {
    width: 100%;
  }

 .Mobile_Overflow {
    display: none;
 }

 /* Bloc Temoignage */

 #Bloc_Temoin_Content {
   width: 100%;
 }

 .Bloc_Temoin_Case {
   width: 100%;
   margin-bottom: 4em;
 }

 .Bloc_Temoin_Case hr {
   width: 80%;
   border-bottom: solid black 1px;
 }

 .Bloc_Temoin_Case p {
   width: 90%;
   text-align: center;
   margin: auto;
 }

 .Bloc_Temoin_ID {
   width: 100%;
   justify-content: flex-start;
 }

 .Bloc_Temoin_ID img {
   padding: 2%;
 }

 .Bloc_Temoin_ID_Name {
   width: auto;
 }

 .Mobile_Display {
   display: block;
   border: solid black 1px;
   width: 80%;
 }
}
