/* CSS de la page Service */

/* Header banner */
#Service_Banner {
  height: 15em;
  width: 100%;
}

#Service_Banner img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Services Map */
#Service_Map {
  width: 100%;
  height: auto;
}

#Service_Map_Content {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.Service_Map_Case {
  width: 20%;
  height: 100%;
}

.Service_Map_Case:hover {
  opacity: 0.5;
}

.Service_Map_Case img {
  margin: auto;
  height: 100%;
  width:100%;
}

/* Pour les écrans inférieurs à 1024px de large */
@media screen and (max-width: 1024px)
{
  #Service_Map_Content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }

  .Service_Map_Case {
    width: 100%;
    height: 15em;
    margin-top: 0;
  }
}
