/* CSS de la page Projets */
/*test de loic*/
/* Header banner */
#Service_Banner {
  height: 20em;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service.jpg");
}

/* Corp page */
section h2 {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  color: Black;
  width: 100%;
  text-align: center;
}

section p {
  width: 60%;
  font-family: Arial;
  margin: auto;
  margin-bottom: 6%;
}
