/* CSS de la partie fixe */

/* General */
body {
  margin: 0;
  background-color: #DCDCDC;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: #e6e6e6;
  z-index: 10000;
}

#Header_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4em;
}

#Prisma_Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1%;
}

#Prisma_Logo h1 {
  margin-left: 2%;
}

#Icone_Navigation {
  display: none;
}

#Main_Nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
}

#Nav_Mobile {
  display: none;
}

#Main_Nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#Main_Nav ul li {
  margin-left:2%;
}

#Main_Nav ul li a {
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  color: Black;
}

#Main_Nav ul li a:hover {
  color: red;
}

#Border_Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#Border_Header_left {
  width: 33.3%;
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
#Border_Header_middle {
  width: 33.3%;
  border: solid 2px green;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
#Border_Header_right {
  width: 33.3%;
  border: solid 2px blue;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
/* Section, corp du site */
section {
  margin: 0;
  padding: 0;
  margin-top: 4em;
  flex: 1;
  min-height: 69vh;
}

/* Footer */
footer {
  width: 100%;
  border-top: solid black 1px;
  background-color: grey;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#Footer_Prisma, #Footer_contact, #Footer_Social, #Footer_Legal {
  width: 25%;
  border-right: dashed black 1px;
  text-align: center;
}

#Footer_Prisma p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Footer_Social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Footer_Social img {
width: auto;
height: auto;
border-radius: 10%;
}

/* Pour les écrans inférieurs à 1024px de large */
@media screen and (max-width: 1024px)
{
  header {
    flex-direction: row;
  }

  #Main_Nav {
    display: none;
  }

#Nav_Mobile {
    margin-top: 4em;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

#Nav_Mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#Nav_Mobile ul li{
  width: 100%;
  height: 4em;
  text-align: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  margin: 0;
  padding: 0;
}

#Nav_Mobile ul li a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

  #Prisma_Logo {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  #Icone_Navigation {
    display: flex;
  }

  footer {
    width: 100%;
    border-top: solid black 1px;
    background-color: grey;
    display:flex;
    flex-direction: column;
  }

  #Footer_Prisma, #Footer_contact, #Footer_Social, #Footer_Legal {
    width: 100%;
    border-bottom: dashed black 1px;
    border-right: 0px;
    text-align: center;
  }
}
