/* CSS de la page principale */

/* Bloc Service */
#Bloc_Service {
  height: auto;
  border-bottom: solid black 2px;
}

#Bloc_Service_Content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Bloc_Service_case {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 20em;
}

#Bloc_Web {
  background-size: cover;
  background-image: url("../img/Background_Service_Web.jpg");
}

#Bloc_Audiovisuel {
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service_Audiovisuel.jpg");
}

#Bloc_Social {
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service_Social.jpg");
}

 #Bloc_Graphique {
   background-size: cover;
   background-image: url("../img/Background_Service_Graphique.jpg");
}

#Bloc_Materiel {
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service_Materiel.jpg");
}

.Bloc_Service_case h2 {
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
  background-color: rgba(0,0,0,0.4);
  font-family: 'Poiret One', cursive;
  text-decoration: underline;
}

.Service_Plus {
  width: 100%;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: solid black 1px;
  background-color: grey;
}

.Service_Plus a {
  text-decoration: none;
  color: black;
  font-family: 'Flamenco', cursive;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.5em;
}

#Bloc_Web .Service_Plus {
  background-color: #B2000B;
}

#Bloc_Audiovisuel .Service_Plus {
  background-color: #21B556;
}

#Bloc_Social .Service_Plus {
  background-color: #4E72FF;
}

#Bloc_Graphique .Service_Plus {
  background-color: #DE5621;
}

#Bloc_Materiel .Service_Plus {
  background-color: #8166BD;
}

/* Bloc Travaux Recent */
#Bloc_Travaux {
  width: 100%;
  margin: 0;
}

#Bloc_Travaux_Content {
  width: 100%;
  height: auto;
}

#Travaux_Header h2 {
  width: 100%;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  color: Black;
  text-align: center;
}

#Travaux_Header ul {
  width: 60%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.3em;
  font-family: 'Flamenco', cursive;
}

#Travaux_Header ul li button{
  font-family: 'Flamenco', cursive;
  font-size: 1em;
  background-color: #DCDCDC;
  border: none;
}

#Travaux_Header ul li button:focus {
  border: none;
}

#Travaux_Slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#Travaux_Slider a {
  width: 25%;
  height: 14em;
  margin: 0;
  padding: 0;
}

#Travaux_Slider a img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#Travaux_Slider img:hover {
  opacity: 0.5;
}

/* Bloc Equipe */
#Bloc_Equipe {
  margin: 0;
  background-color: #D5D5D5;
  height: auto;
  padding-bottom: 1em;
}

#Bloc_Equipe h2 {
  width: 100%;
  margin: 0;
  font-size: 2em;
  font-family: 'Poiret One', cursive;
  padding-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#Bloc_Equipe_Content {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Bloc_Equipe_Case {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.Bloc_Equipe_Case_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Bloc_Equipe_Case_text img {
  width: 70%;
  height: auto;
  border-radius: 100%;
}

.Bloc_Equipe_Case h3 {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
}

.Bloc_Equipe_Case h4 {
  font-family: 'Flamenco', cursive;
  text-align: center;
  font-size: 1.1em;
  margin-top: 0;
}

.Bloc_Equipe_Case p {
  width: 90%;
  text-align: center;
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
}

.Equipe_Social {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Equipe_Social i {
  padding: 2%;
  font-size: 2em;
}
/* Bloc Confiance */
#Bloc_Confiance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 1em;
}

#Bloc_Confiance h2 {
  width: 100%;
  margin-bottom: 1.5em;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  background: #ddd;
  flex: 1 0 100%;
  order: 2;
}

.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}

.carousel h2 {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}

.controls {
  padding: 1em;
  text-align: center;
}

.toggle {
  border: none;
  color: black;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

/* Bloc Temoignage */
#Bloc_Temoin {
  min-height: 20em;
  padding-top: 1em;
  height: auto;
  background-color: #D5D5D5;
}

#Bloc_Temoin h2 {
  width: 100%;
  font-size: 2em;
    font-family: 'Poiret One', cursive;
  text-align: center;
}

#Bloc_Temoin_Content {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Bloc_Temoin_Case {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.Bloc_Temoin_Case hr {
  width: 80%;
  border-bottom: solid black 1px;
}

.Bloc_Temoin_Case p {
  width: 90%;
  font-family: Arial;
  text-align: center;
  margin: auto;
}

.Bloc_Temoin_ID {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.Bloc_Temoin_ID img {
 width: 3em;
 height: 3em;
 border-radius: 100%;
}

.Bloc_Temoin_ID_Name {
  width: 70%;
}

.Bloc_Temoin_ID_Name p, .Bloc_Temoin_ID_Name h3{
  margin: 0;
  padding: 0;
  font-family: Arial;
  text-align: left;
}

.Mobile_Display {
  display: none;
}
/* Pour les écrans inférieurs à 1024px de large */
@media screen and (max-width: 1024px)
{
  #Bloc_Service_Content {
    width: 100%;
  }

  #Bloc_Service_Content img {
    display: flex;
  }

#Bloc_Audiovisuel, #Bloc_Social, #Bloc_Graphique {
  display: none;
}
  .Bloc_Service_case {
    width: 75%;
  }

  .Bloc_Service_case h2 {
    text-align: center;
  }

  .Bloc_Service_case hr {
    width: 100%;
  }

  /* Bloc Travaux Recent */

  #Bloc_Travaux_Content {
    width: 100%;
  }

  #Travaux_Header ul {
    width: 100%;
    padding: 0;
  }

  #Travaux_Slider img {
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;
  }

  /* Bloc Equipe */

  #Bloc_Equipe_Content {
    width: 100%;
  }

  .Bloc_Equipe_Case {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    width: 49.6%;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .Bloc_Equipe_Case p {
    display: none;
  }

  /* Bloc Confiance */

  #Bloc_Confiance_Slider {
    width: 100%;
  }

 .Mobile_Overflow {
    display: none;
 }

 /* Bloc Temoignage */

 #Bloc_Temoin_Content {
   width: 100%;
 }

 .Bloc_Temoin_Case {
   width: 100%;
   margin-bottom: 4em;
 }

 .Bloc_Temoin_Case hr {
   width: 80%;
   border-bottom: solid black 1px;
 }

 .Bloc_Temoin_Case p {
   width: 90%;
   text-align: center;
   margin: auto;
 }

 .Bloc_Temoin_ID {
   width: 100%;
   justify-content: flex-start;
 }

 .Bloc_Temoin_ID img {
   padding: 2%;
 }

 .Bloc_Temoin_ID_Name {
   width: auto;
 }

 .Mobile_Display {
   display: block;
   border: solid black 1px;
   width: 80%;
 }
}
