/* CSS de la page Projets */

/* Header banner */
#Service_Banner {
  height: 20em;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service.jpg");
}

/* corp de page */

#Projet_Corp {
  width: 80%;
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#Projet_nav {
  font-size: 1.5em;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Projet_nav a {
    color: black;
    text-decoration: none;
}

#Bloc_ID {
  position: relative;
  bottom: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Bloc_ID h2{
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 2em;
}

#Bloc_ID h3{
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 1.5em;
}

#Bloc_ID hr {
  border: solid black 1px;
  width: 100%;
}

#Bloc_Techno {
  font-family: 'Flamenco', cursive;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  background-color: red;
  margin-top: 3%;
}

#Techno_List {
    width: 70%;
    margin-left: 1%;
}

#Bloc_Date {
  font-family: 'Flamenco', cursive;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

#Date_Value {
  margin-left: 2%;
}

#Bloc_Description {
  width: 60%;
  text-align: justify;
  font-family: Arial;
}

#Bloc_Slider {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}

@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}

@media (min-width: 40em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}

@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}

@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-seat {
  background: #ddd;
  flex: 1 0 100%;
  order: 2;
}

.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}

@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}

@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}

.carousel h2 {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}

.toggle {
  border: none;
  color: black;
  padding: 0.5em 1em;
  font-size: 1.5em;
}

#Bloc_Link {
  height: 2em;
  width: 15%;
  margin-top: 1%;
  margin-bottom: 4%;
}

#Bloc_Link a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.5em;
  color: #4E72FF;
}

#Bloc_Link a i {
  margin-left: 2%;
}

#Bloc_Link a:hover {
  color: red;
}
