/* CSS de la page Projets */

/* Header banner */
#Service_Banner {
  height: 20em;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service.jpg");
}

/* Bloc Travaux Recent */
#Bloc_Travaux {
  height: auto;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

#Bloc_Travaux_Content {
  width: 100%;
  height: auto;
}

#Travaux_Header h2 {
  width: 100%;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  color: Black;
  text-align: center;
}

#Travaux_Header ul {
  width: 60%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.3em;
  font-family: 'Flamenco', cursive;
}

#Travaux_Header ul li button{
  font-family: 'Flamenco', cursive;
  font-size: 1em;
  background-color: #DCDCDC;
  border: none;
}

#Travaux_Slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#Travaux_Slider a {
  width: 25%;
  height: 14em;
  margin: 0;
  padding: 0;
}

#Travaux_Slider a img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#Travaux_Slider img:hover {
  opacity: 0.5;
}

/* Pour les écrans inférieurs à 1024px de large */
@media screen and (max-width: 1024px)
{
  #Bloc_Travaux_Content {
    width: 100%;
  }

  #Travaux_Slider img {
    width: 50%;
  }
}
